@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --main: hsl(240, 38%, 20%);
  --gray: hsl(240, 18%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--main);
}

.container {
  max-width: 900px;
  height: 100vh;
  background: url('/images/pattern-curve.svg') no-repeat;
  background-position: bottom left;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: flex;
  position: relative;
  align-items: center;
  height: 100%;
}

.opinion {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  background: url('/images/pattern-quotes.svg') no-repeat;
  background-position: 5rem 7rem;
}

.opinion__text {
  font-weight: 300;
  font-size: 1.6rem;
  width: 60%;
  line-height: 2.25rem;
  z-index: 1;
}

.opinion__author {
  display: flex;
  margin-top: 30px;
}

.name {
  font-weight: 700;
}

.job {
  color: var(--gray);
  padding-left: 10px;
}

.user {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background: url(/images/pattern-bg.svg) no-repeat;
  background-size: contain;
}

.user__photo {
  width: 70%;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-right: 50px;
  box-shadow: -20px 100px 50px -60px rgb(0 0 0 / 30%);
}

.buttons {
  position: absolute;
  bottom: 17%;
  left: 33%;
  display: flex;
}

.btn {
  display: flex;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
}

.prev {
  border-radius: 50% 0 0 50%;
}

.next {
  border-radius: 0 50% 50% 0;
}

.btn:hover img {
  filter: brightness(0.5);
}

.btn:active img {
  transform: scale(0.95);
}

.attribution {
  position: absolute;
  font-size: 1rem;
  bottom: 0;
}
